<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="img/og_image.png" property="og:image">
    <title>- WHO IS THE CEO NOW? - ME</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <script src="js/vue.js"></script>
  </head>
  <body>
    <section id="app" class="section">

      <article class="media content">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="img/logo.svg">
          </p>
        </figure>
        <div class="media-content">
          <h1 class="title">
            {{ title }}
          </h1>
          <p class="subtitle"> {{ subtitle }} </p>
        </div>
      </article>

      <div class="columns">

        <div class="column">
          <div class="card">
            <div class="card-content" >
              <i class="fas fa-money-bill"></i> Balance: <money-f v-bind:money="balance"></money-f> <br>
              <i class="fas fa-calendar-alt"></i> Founded since: {{ lifeTime }} <br>
              <i class="fas fa-home"></i> Branches: {{ branches.length }} for <money-f v-bind:money="rent"></money-f>, New rents require {{ rentInsuranceMonths }} months insurance <br>
              <i class="fas fa-arrow-alt-circle-up"></i> Economy Inflation: {{ inflation * 100 }}%
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="card-header-title"> <i class="fa fa-sitemap"></i> &nbsp; Branches ({{ branches.length }}) </div>
            </div>
            <div class="card-content">
              <div class="notification has-text-centered" v-if="! branches.length">You don't have any branches for your company yet, creating a branch opens up vacancies</div>
              <company-branch
                  v-for="(branch, index) in branches"
                  v-bind:key="index"
                  v-bind:branch="branch"
                  v-on:remove="branches.splice(index, 1)">
              </company-branch>
            </div>
            <footer class="card-footer" v-if="newBranchCost <= balance">
              <a href="#" v-on:click.prevent="openBranch()" class="card-footer-item">New Branch (<money-f v-bind:money="newBranchCost"></money-f>)</a>
            </footer>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="card-header-title"> <i class="fa fa-tasks"></i> &nbsp; Projects ({{ projects.length }}) </div>
            </div>
            <div class="card-content">
              <div class="notification has-text-centered" v-if="! projects.length">You don't have any projects</div>
              <table class="table is-fullwidth is-striped is-hoverable" v-else>
                <thead>
                  <tr>
                    <th> Effort </th>
                    <th> Revenue </th>
                  </tr>
                </thead>
                <tbody>
                  <tr is="company-project"
                      v-for="(project, index) in projects"
                      v-bind:key="index"
                      v-bind:project="project">
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="column">
          <company-ledger v-bind:ledger="ledger"></company-ledger>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title"> <i class="fa fa-inbox"></i> &nbsp; Messages </div>
            </div>
            <div class="card-content">
              <div class="notification has-text-centered" v-if="messages.length == 0">You don't have any messages.</div>
              <company-message
                  v-for="(message, index) in messages"
                  v-bind:key="index"
                  v-bind:message="message">
              </company-message>
            </div>
          </div>
        </div>

      </div>
    </section>

    <script type="text/x-template" id="message-template">
      <div v-bind:class="[ classAttr ]">
        <span class="tag is-white">Day {{ message.day }}</span>
        {{ message.message }}
      </div>
    </script>

    <script type="text/x-template" id="branch-template">
      <div class="box">
        <a class="delete is-pulled-right" v-on:click.prevent="$emit('remove')"></a>
        Rent: <money-f v-bind:money="branch.rent"></money-f> <br>
        Electricity: <money-f v-bind:money="branch.electricityBill()"></money-f> <br>
        Water: <money-f v-bind:money="branch.waterBill()"></money-f> <br>

        <div class="select">
          <select v-model="selectedInternetLine">
            <option disabled value="">Select Internet Package</option>
            <option v-for="internetPackage in internetPackages" v-bind:value="internetPackage">
              {{ internetPackage.name }} ({{ internetPackage.speed}} Kb)
              for {{internetPackage.cost}} €/Month
            </option>
          </select>
        </div>
        <button class="button" v-on:click.prevent="newInternet()" v-if="selectedInternetLine !== '' "> Add Line </button>
        <table class="table is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Line Name</th>
              <th>Speed</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
            <company-internet v-for="(internetLine, index) in branch.internet" v-bind:key="index" v-bind:internet="internetLine"> </company-internet>
          </tbody>
        </table>

        <div class="select">
          <select v-model="selectedPerson">
            <option disabled value="">Select Person</option>
            <option v-for="person in peoplePositions" v-bind:value="person">
              {{ person.position }} ({{ person.salary}} €)
            </option>
          </select>
        </div>
        <button class="button" v-on:click.prevent="newPerson()" v-if="selectedPerson !== '' ">Add Person</button>
        <table class="table is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Position</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tbody>
            <company-person v-for="(person, index) in branch.people" v-bind:key="index" v-bind:person="person"> </company-person>
          </tbody>
        </table>

      </div>
    </script>

    <script type="text/x-template" id="ledger-template">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title"> <i class="fa fa-clipboard-list"></i> &nbsp; Ledger </div>
        </div>
        <div class="card-content">
          <table class="table is-hoverable is-striped is-fullwidth" v-if="ledger.transactions.length">
            <thead>
              <tr>
                <th> Time </th>
                <th> Label </th>
                <th> Payment </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="transaction in ledger.transactions">
                <td> {{ transaction.days }} days </td>
                <td> {{ transaction.label }} </td>
                <td> <money-f v-bind:money="transaction.payment"></money-f> </td>
              </tr>
            </tbody>
          </table>
          <div class="notification has-text-centered" v-else> You have no transactions. </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="internet-template">
      <tr>
        <td> {{ internet.name }} </td>
        <td> {{ internet.speed }} </td>
        <td> <money-f v-bind:money="internet.cost"></money-f> </td>
      </tr>
    </script>

    <script type="text/x-template" id="person-template">
      <tr>
        <td> {{ person.position }} </td>
        <td> <money-f v-bind:money="person.salary"></money-f> </td>
      </tr>
    </script>

    <script type="text/x-template" id="project-template">
      <tr>
        <td> {{ project.effort }}/{{ project.goalEffort }} </td>
        <td> <money-f v-bind:money="project.revenue"></money-f> </td>
      </tr>
    </script>

    <script type="text/x-template" id="money-template">
      <span>{{ formattedMoney }}</span>
    </script>

    <script src="js/money-formatter.js"></script>
    <script src="js/internet.js"></script>
    <script src="js/branch.js"></script>
    <script src="js/message.js"></script>
    <script src="js/ledger.js"></script>
    <script src="js/people.js"></script>
    <script src="js/project.js"></script>
    <script src="js/company.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125725559-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-125725559-1');
    </script>
  </body>
</html>
